<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="LOG_PATTERN"
              value="%d [tid=%X{trace_id} sid=%X{span_id}] [%thread][%level] %logger{36}.%M - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>


    <root level="INFO">
        <appender-ref ref="ASYNC_STDOUT"/>
    </root>


</configuration>